renren-fast-vue/.DS_Store
renren-fast-vue/node_modules/
renren-fast-vue/dist/
renren-fast-vue/npm-debug.log*
renren-fast-vue/yarn-debug.log*
renren-fast-vue/yarn-error.log*
renren-fast-vue//test/unit/coverage/
renren-fast-vue//test/e2e/reports/
renren-fast-vue/selenium-debug.log

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
